<% content_for :title do %>
OneWeek
<% end -%>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Routes</h3>
      </div>
      <table class="table table-hover">
        <tr>
          <th>Route Name</th>
          <th>Distance (<%= distance_unit %>)</th>
          <th>Max Speed (<%= speed_unit %>)</th>
          <th>Average Speed (<%= speed_unit %>)</th>
          <th>Total Time</th>
          <th>Date</th>
        </tr>
        <%= render @routes %>
      </table>
    </div>
  </div>
  <div class="col-md-4 panel">
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to 'Upload New Route', new_route_url, id: "add_route", class: "btn btn-primary" %></li>
    </ul>
  </div>
</div>
