<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">OneWeek</a>
      </div>
      <ul class="nav navbar-right">
        <% if current_user -%>
          <li><%= link_to 'Logout', logout_path, method: :delete, class: "btn navbar-btn", id: "logout_btn", role: "button" %></li>
        <% end -%>
      </ul>
    </div>
  </nav>

  <% if flash[:notice] -%><div class="alert alert-success" role="alert"><%= raw flash[:notice] -%></div><% end -%>
  <% if flash[:error] -%><div class="alert alert-danger" role="alert"><%= raw flash[:error] -%></div><% end -%>
  <div class="container-fluid">
    <% if current_user.nil? -%>
      <div class="jumbotron">
        <h1>OneWeek Routes</h1>
        <p>Login with Twitter to get started uploading and viewing your GPX routes.</p>
        <p><a id="login_btn" class="btn btn-primary btn-lg" href="/auth/twitter" role="button">Login with Twitter</a></p>
      </div>
    <% else -%>
      <%= yield %>
    <% end -%>
  </div>
</body>
</html>
